@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
   --azul-oscuro: #0A1828;
   --azul-celeste: #74a7e0;
   --dorado: #E5A000;

   --fuente-inter: 'inter', sans-serif;
}

* {
   padding: 0;
   margin: 0;
}

body {
   background-color: var(--azul-oscuro);
   color: var(--dorado);
   box-sizing: border-box;
}

.encabezado {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px 20px 0 20px;
}

.encabezado-logo {
   width: 80px;
}

.icono-tema-claro {
   padding-bottom: 20px;
}

.contenido {
   display: flex;
   padding: 20px 100px;
   justify-content: space-between;
}

.contenido-texto {
   display: flex;
   flex-direction: column;
}

.titulo-principal {
   width: auto;
   font-family: var(--fuente-inter);
   font-size: 3.125rem;
   font-weight: 600;
   text-align: center;
}

.contenido-texto-original {
   border: none;
   background-color: var(--azul-oscuro);
   color: var(--dorado);
   font-family: var(--fuente-inter);
   font-size: 2rem;
   font-weight: 400;
   margin-top: 16px;
   text-transform: lowercase; 
   border-radius: 20px;
   box-shadow: 2px 2px 10px 2px #f1bb3b;
   padding: 5px 5px 5px 10px;
}
.contenido-texto-original::placeholder {color: var(--dorado);}

.contenido-texto-original:focus {
   outline: none;  
}

.contenido-resultado {
   display: flex;
   flex-direction: column;   
}

.texto-modificado {
   max-width: 100%;
   background: var(--dorado);
   background-image: url("./assets/Muñeco.png");
   background-repeat: no-repeat;
   background-position: 20% 20%;
   border: none;
   color: var(--azul-oscuro);
   font-family: var(--fuente-inter);
   font-size: 1.5rem;
   font-weight: 400;
   border-radius: 20px;
   padding: 8px;
}
.texto-modificado::placeholder {
   color: var(--azul-oscuro);
   font-size: 1.5rem;
   font-weight: 600;
   text-align: center;
   padding-top: 370px;
   text-transform: lowercase;
}
.texto-modificado:focus {
   outline: none;
}

.condiciones-texto { 
   background-image: url("./assets/Vector.png");
   background-repeat: no-repeat; 
   margin-top: 20px;
   font-family: var(--fuente-inter);
   font-size: 0.75rem;
   padding: 2px 24px;
}

.texto-informativo {
   position: absolute;
   z-index: 1;
   color: var(--azul-oscuro);
   font-family: var(--fuente-inter);
   font-size: 1rem;
   font-weight: 400;
   text-align: center;
   padding: 440px 25px 0 30px;
}

.contenido-botones {
   display: flex;
   gap: 10px;
}

.boton-funcional {
   border-radius: 16px;
   background: var(--azul-celeste);
   color: var(--azul-oscuro);
   padding: 16px 24px;
   width: 100%;
   font-family: var(--fuente-inter);
   font-size: 1.125rem;
   font-weight: 400;
   border: none;
   margin-top: 16px;
}

.boton-copiar {
   display: flex; 
   justify-content: center;
   margin-top: -100px;
 }

.boton-copiar-desencriptar {
  border-radius: 16px;
  background: var(--azul-oscuro);
  color: var(--dorado);
  padding: 16px 16px;
  width: 70%;
  font-family: var(--fuente-inter);
  font-size: 1.125rem;
  font-weight: 400;
  border: none;
}
.boton-funcional:hover {
   background-color: #f1bb3b;
}
.boton-copiar-desencriptar:hover {
   background: var(--azul-celeste)
}

.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.datos-desarrollador {
   text-align: center;
   font-family: var(--fuente-inter);
   font-size: 1rem;
   font-weight: 400;
   margin-bottom: 5px;
   padding-top: 40px;
}

.contacto {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 10px;
   gap: 25px;
}

@media (max-width: 1200px) {

   .contenido {
      width: 90%;
      flex-direction: column; 
      justify-content: center;
      gap: 16px;
   }

   .texto-modificado {
      background-position: 50% 20%;
      max-width: 700px;
      height: 200px;
      background-image: none;
   }
   .texto-modificado::placeholder {
      padding-top: 10px;
   }

   .texto-informativo {
      position: absolute;
      top: 112%;
      left: 35%;
      padding: 440px 25px 0 50px;
   }

   .boton-copiar {
      width: 100%;
   }

   .footer {
      text-align: center;
      margin-top: 45px;
   }
   
}

@media (max-width: 768px) {

   .contenido {
      width: 85%;
      flex-direction: column; 
      justify-content: center;
      padding-left: 60px;
      gap: 16px;
   }

   .texto-modificado {
      max-width: 700px;
      height: 200px;
      background-image: none;
   }   
   .texto-modificado::placeholder {
      padding-top: 10px;
   }

   .texto-informativo {
      position: absolute;
      top: 52%;
      left: 25%;
      padding: 440px 25px 0 50px;
   }

   .boton-funcional {
      min-width: 120px;
      height: auto;
  }

  .boton-copiar-desencriptar {
   width: 95%;
   }

   .footer {
      margin-top: 45px;
   }

}

@media (max-width: 480px) {

   .contenido {
      width: 88%;
      flex-direction: column; 
      justify-content: center;
      padding-left: 25px;
      gap: 16px;
   }

   .texto-modificado {
      max-width: 500px;
      height: 200px;
      background-image: none;
   }   
   .texto-modificado::placeholder {
      padding-top: 0px;
   }

   .texto-informativo {
      position: absolute;
      top: 100%;
      left: 17%;
      padding: 360px 20px 0 2px;
   }

   .contenido-botones {
      flex-direction: column;
      gap: 8px;
   }

   .boton-copiar-desencriptar {
      width: 90%;
   }

}